@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Cairo:wght@300;400;700;800&display=swap');


 /* Start Global Styling */
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
    
body {
    font-family: Bellefair;
    background-image: url("../imgs/bg.png");
    background-color: #0B0D17;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 85%;
    margin: 20px auto;
}
/* End Global Styling */

/* Start Nav Bar  */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
}

 /* Start Menu  */
.nav .menu-icon {
    position: relative;
    width: 33px;
    height: 19px;
    cursor: pointer;
    z-index: 999;
    display: none;
}

.nav .menu-icon span:first-child {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #D0D6F9;
    top: 0;
    transition: all .3s ease;
}

.rotate-span-one {
    transform: rotate(45deg) translate(2px, 14px);
}

.nav .menu-icon span:nth-child(2) {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #D0D6F9;
    top: 11px;
    transition: all .3s ease;
}

.hide-span {
    display: none;
}

.nav .menu-icon span:last-child {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #D0D6F9;
    top: 22px;
    transition: all .3s ease;
}

.rotate-span-two {
    transform: rotate(-46deg) translate(1px, -14px);
}
 /* End Menu  */

/* Start Hidden Menu  */
.nav .hidden-menu {
    position: absolute;
    height: 100%;
    width: 50vh;
    top: 86px;
    right: 2000px;
    top: 0;
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(10px);
    transition: all .3s ease;
}

.show-toggle {
    right: 0 !important;
}


.nav .hidden-menu ul {
    display: flex;  
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    margin: 20px auto;
}

.nav .hidden-menu ul li {
    list-style: none;
    margin-top: 38px;
    text-align: center;
    cursor: pointer;
    transition: all .3s ease;
}

.nav .hidden-menu ul li:hover {
    padding-bottom: 19px;
    border-bottom: 4px solid rgba(250, 250, 250, .5);
}

.nav .hidden-menu ul li span {
    font-size: 22px;
    letter-spacing: 2.7px;
    color: #fff;
    font-weight: 800;
}

.nav .hidden-menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22x;
    letter-spacing: 2.7px;
    color: #fff;
}
/* End Hidden Menu  */

.nav .logo {
    position: relative;
}

.nav .logo {
    cursor: pointer;
}

.nav .logo img:last-child {
    position: absolute;
    left: 0;
}

.nav-links {
    position: relative;
}

.nav-links::before {
    content: "";
    position: absolute;
    z-index: -2;
    top: -26px;
    left: -93px;
    width: 119%;
    height: 69px;
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(10px);
}

.nav .nav-links ul {
    display: flex;  
    margin-right: 100px;
}

.nav .nav-links ul li {
    list-style: none;
    margin-right: 22px;
    text-align: center;
    cursor: pointer;
    transition: all .3s ease;
}

.nav .nav-links ul li:hover {
    padding-bottom: 19px;
    border-bottom: 4px solid rgba(250, 250, 250, .5);
}

.nav .nav-links ul li span {
    font-size: 16px;
    letter-spacing: 2.7px;
    color: #fff;
    font-weight: 800;
}

.nav .nav-links ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2.7px;
    color: #fff;
}
/* Start Active Class */
.active {
    padding-bottom: 19px;
    border-bottom: 4px solid #fff;
}
/* End Active Class */
/* End Nav Bar  */

/* Start Landing  */

.container .landing .title {
    display: flex;
    align-items: center;
}

.container .landing .title span {
    letter-spacing: 4.72px;
    font-size: 24px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    opacity: .5;
}

.container .landing .title h1 {
    letter-spacing: 4.72px;
    font-size: 24px;
    color: rgba(255, 255, 255, 1);
    margin-left: 8px;
    text-transform: uppercase   ;
}

.container .about {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.container .about .l-side h2 {
    font-size: 32px;
    color: #fff;
    opacity: .5;
    text-transform: uppercase;
}

.container .about .l-side h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 43px;
    margin: 20px 0;
}

.container .about .l-side p {
    color: #D0D6F9;
    font-size: 18px;
    line-height: 32px;
    width: 444px;
}
.container .about .l-side .description {
    position: fixed;
    bottom: 19px;
}

.container .about .l-side .description span {
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-right: 7px;
    padding: 6px;
    cursor: pointer;
    transition: background-color .3s ease;
}

.container .about .l-side .description span:hover {
    background-color: rgba(250, 250, 250, .5);
}

.on {
    background-color: #fff;
}

.container .about .r-side img{
    width: 484px;
}

/* End Landing  */



/* Start Media Queries  */
@media (max-width: 413px) { 
    .container .about {
        margin-top: 37px;
    }

    .container .landing .title {
        justify-content: center;
    }

    .nav-links,
        .nav-links::before {
        display: none;
    }

    .nav .menu-icon{
        display: block;
    }

    .container .about .l-side h1 {
        font-size: 31px;
    }

    .container .about .l-side p {
        font-size: 18px;
        line-height: 29px;
        width: 349px;
        line-height: 25px;
    }

    .container .about .l-side .description {
        top: 845px;
        left: 32.5%;
    }

    .container .about {
        flex-direction: column;
    }

    .container .about .r-side img {
        width: 382px;
    }
}

@media (min-width: 414px) and (max-width: 446px) {
    .container .about {
        margin-top: 37px;
    }

    .container .landing .title {
        justify-content: center;
    }

    .nav-links,
        .nav-links::before {
        display: none;
    }

    .nav .menu-icon{
        display: block;
    }

    .container .about .l-side h1 {
        font-size: 37px;
    }

    .container .about .l-side p {
        font-size: 18px;
        line-height: 29px;
        width: 349px;
        line-height: 25px;
    }
}


@media (min-width: 446px) and (max-width: 875px) {
    .container .about {
        margin-top: 37px;
    }

    .container .landing .title {
        justify-content: center;
    }

    .nav-links,
        .nav-links::before {
        display: none;
    }

    .nav .menu-icon{
        display: block;
    }
}



@media (min-width: 876px) and (max-width: 1124px) {
    .nav {
        margin: 20px 40px;
    }

    .nav .nav-links ul {
        margin-right: -22px;
    }

    .container .landing .title h1,
    .container .landing .title span  {
        font-size: 20px;
    }

    .container .about {
        flex-direction: column;
        text-align: center;
    }

    .container .about .l-side h2 {
        font-size: 24px;
    }

    .container .about .l-side h1 {
        font-size: 40px;
    }

    .container .about .l-side p {
        font-size: 16px;
    }

    .container .about .l-side .description {
        left: 42.5%;
    }

    .container .about .r-side img {
        width: 327px;
    }
}
/* End Media Queries  */